* {
	font-family: monospace !important;
}

.lista > li {
	list-style: none;
	tab-size: 8;
}

p {
	text-align: left;
	margin: 0 !important;
}

h5 {
	margin: 0 !important;
}

img {
	width: 550px;
	object-fit: none;
	height: auto;
	margin: 0 50px
}

.acomodao {
	min-height: 500px;
	width: 100%;
	text-align: left;
	display: flex;
	flex-wrap: nowrap;
}

.text-container {
	padding: 30px;
	min-height: 0px;
	display: block;
	top: -10px;
}

.text-container1 {
	padding: 30px;
	min-height: 0px;
	display: block;
	margin: auto 0;
}

.d-none {
	font-size: 0;
}

.invisible {
	opacity: 0;
	height: 0;
}

.centrao {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.facilitador {
	width: 100%;
	object-fit: contain !important;
}

.lean {
	object-fit: contain !important;
	height: 100%;
	width: auto;
}

.xp {
	object-fit: cover !important;
	height: auto;
	width: 500px;
}

.comentario {
	color: rgb(96, 110, 110);
}

dd {
	margin-bottom: 30px;
}

.contenedor-tabla {
	font-family: "Poppins", sans-serif !important;
	background-color: #1e1e1e;
	padding: 20px;
	color: #fff;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px !important;
	flex-direction: column;
	width: 100% !important;
}

.contenedor-del-contenedor-tabla {
	margin: 20px;
	margin-right: 80px;
}

.contenedor-tabla * {
	display: inline-flexbox;
}
.titulazo {
	text-align: center;
	color: #fff;
	margin-bottom: 20px;
}
.tablazo {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
	height: 100px !important;
	overflow-y: scroll !important;
	border: #1e1e1e solid 2px !important;
}
th, td {
	border: 1px solid #444;
	padding: 15px !important;
	text-align: center;
	height: 100%;
	font-size: 20px !important;
}
th {
	background-color: #007BFF;
	color: white;
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
	text-transform: uppercase;
	text-align: center;
	font-size: 25px !important;
}
tr:nth-child(even) {
	background-color: #3a3a3a;
}
tr:hover {
	background-color: #505050;
}

.texto-bug {
	margin: 10px !important;
}

.texto-bug2 {
	margin-bottom: 20px !important;
}